/*  typography */
@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@500&family=Alegreya:ital@0;1&family=Arya:wght@700&family=Nunito&family=Poppins&display=swap');

body {
  line-height: 1.2;
  font-family: $primary-font;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  color: $text-color;
}

p, .paragraph {
  font-weight: 400;
  color: $text-color;
  font-size: 18px;
  line-height: 1.7;
  font-family: $primary-font;
  text-align: justify;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
  color: $secondary-color;
  font-family: $secondary-font;
  line-height: 1.2;
}

i {
  font-family: themify;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}

a{
  &.h1,&.h2,&.h3,&.h4,&.h5,&.h6{
    color: $secondary-color;
  }
}

h1, .h1{
  font-size: 45px;
}

h2, .h2{
  font-size: 36px;
}

h3, .h3{
  font-size: 28px;
}

h4, .h4{
  font-size: 22px;
}

h5, .h5{
  font-size: 18px;
}

h6, .h6{
  font-size: 16px;
}

.hindi {
  .title {
    font-family: 'Arya', sans-serif !important;
  }

  .content {
    font-family: 'Poppins', sans-serif !important;
    font-style: normal !important;
  }
}

.post-meta {
  font-family: $meta-font;
  text-transform: uppercase;
  font-size: 1.2rem;

  a {
    color: unset;
  }

  i {
    font-size: 1rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  span {
    white-space: nowrap;
  }

  >span:not(:last-child)::after {
    content: "\00B7";
    font-size: 2rem;
    position: relative;
    top: 3px;
    font-weight: 900;
    opacity: .5;
    padding-left: 5px;
    padding-right: 2px;
  }
}