// Color Variables
$primary-color: #FF7F66;
$secondary-color: #2185C5;
$text-color: #3E454C;
$text-color-dark: #222222;
$text-color-light: #959595;
$body-color: #fff;
$border-color: #ACB9C4;
$black: #000;
$white: #fff;
$gray: #fff6e5;

// Font Variables
$primary-font: 'Nunito', sans-serif;
$secondary-font: 'Alegreya', serif;
$meta-font: 'Saira Extra Condensed', sans-serif;
$icon-font: 'themify';