<div class="col-md-6 mb-4">
  <article class="card">
    {{ if .Params.Image }}
    <img src="{{.Site.Params.imageCDN}}{{ .Params.Image }}" class="card-img-top" alt="{{ .Title | markdownify }}">
    {{ end }}
    <div class="card-body px-0">
      {{ partial "components/post-categories.html" . }}
      <a href="{{ .Permalink }}" class="h4 d-block my-3">{{ .Title | markdownify }}</a>
      <div class="mb-3 post-meta">
        <span>{{ .PublishDate.Format "January 02, 2006" }}</span>
        <span>{{ .ReadingTime }} min read</span>
        <span><a href="{{ .Permalink }}#disqus_thread">Post a comment</a></span>
      </div>
      <p class="card-text">{{ .Summary }}</p>
      {{ partial "components/post-tags.html" . }}
      <a href="{{ .Permalink }}" class="btn btn-outline-primary">read more</a>
    </div>
  </article>
</div>