{{ define "main" }}

<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        {{ if ne .Type "page" }}
        {{ partial "components/post-categories.html" . }}
        <h1>{{ .Title | markdownify }}</h1>
        <div class="mb-3 post-meta">
          <span>
            <i class="ti-user"></i>
            <span>{{if .Params.Author}}{{ .Params.Author }}{{else}}{{.Site.Params.Author}}{{end}}</span>
          </span>
          <span>
            <i class="ti-calendar"></i>
            <span>{{ .PublishDate.Format "January 02, 2006" }}</span>
          </span>
          <span>
            <i class="ti-time"></i>
            <span>{{ .ReadingTime }} min read</span>
          </span>
          <span>
            <i class="ti-comments"></i>
            <span><a href="{{ .Permalink }}#disqus_thread">Post a comment</a></span>
          </span>
        </div>
        {{ else }}
        <h1>{{ .Title | markdownify }}</h1>
        {{ end }}
        {{ if .Params.image }}
        <img srcset="{{.Site.Params.imageCDN}}w_480/{{ .Params.image }} 480w,
          {{.Site.Params.imageCDN}}w_768/{{ .Params.image }} 768w" sizes="(max-width: 768px) 480px, 768px"
          src="{{.Site.Params.imageCDN}}w_768/{{ .Params.image }}" class="img-fluid w-100 mb-4"
          alt="{{ .Title | markdownify }}">
        {{ end }}
        <div class="content mb-5">
          {{ .Content }}
        </div>


        {{ partial "components/post-tags.html" . }}

        <hr>

        {{ partial "components/related.html" . }}

        <hr>

        <!-- comments -->
        {{ if ne .Type "page" }}
        <div class="disqus" id="disqus_thread"></div>
        {{ end }}
      </div>
      {{ partial "sidebar.html" . }}
    </div>
  </div>
</section>



{{ end }}