<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-5">
        <a href="{{ .Site.BaseURL }}">
          <img class="img-fluid"
            srcset="{{ .Site.Params.logoRegular | absURL }} 1x, {{ .Site.Params.logoRetina | absURL }} 2x"
            src="{{ .Site.Params.logoRegular | absURL }}" alt="{{ .Site.Title }}">
        </a>
      </div>
      <div class="col-lg-4 col-sm-6 mb-5">
        <h6 class="mb-4">Social Contacts</h6>
        <ul class="list-unstyled">
          {{ range .Site.Params.social }}
          <li class="mb-3"><a class="text-dark" href="{{ .link | safeURL }}">{{ .title }}</a></li>
          {{ end }}
        </ul>
      </div>
      <div class="col-lg-4 col-sm-6 mb-5">
        <h6 class="mb-4">Categories</h6>
        {{- if isset .Site.Taxonomies "categories" }}
        {{- if not (eq (len .Site.Taxonomies.categories) 0) }}
        <ul class="list-unstyled">
          {{- range $name, $items := .Site.Taxonomies.categories }}
          <li class="mb-3"><a class="text-dark"
              href="{{ `categories/` | relLangURL }}{{ $name | urlize | lower }}">{{ $name | humanize | title }}</a>
          </li>
          {{- end }}
        </ul>
        {{- end }}
        {{- end }}
      </div>
      <div class="col-lg-4 col-sm-6 mb-5">
        <h6 class="mb-4">Quick Links</h6>
        <ul class="list-unstyled">
          {{ range .Site.Menus.footer }}
          <li class="mb-3"><a class="text-dark" href="{{ .URL | absURL }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </div>
      <div class="col-12 border-top py-4 text-center">
        {{ .Site.Params.copyright | markdownify }}
      </div>
    </div>
  </div>
</footer>

<script>
  var indexURL = {{ "index.json" | absURL }}
</script>

{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range .Site.Params.plugins.js}}
<script src="{{ .URL | absURL }}"></script>
{{ end }}
{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>

{{ "<!-- Disqus Count -->" | safeHTML }}
<script type='text/javascript' id="dsq-count-scr" src="//{{ .Site.DisqusShortname }}.disqus.com/count.js" async></script>

{{ "<!-- Disqus Comments -->" | safeHTML }}
<script type='text/javascript'>
  $.disqusLoader('.disqus', {
    scriptUrl: '//{{ .Site.DisqusShortname }}.disqus.com/embed.js'
  });
</script>

{{ "<!-- Termly cookie consent banner -->" | safeHTML }}
<script type='text/javascript'>
  (function () {
    var s = document.createElement('script');
    s.type = 'text/javascript';
    s.async = true;
    s.src = 'https://app.termly.io/embed.min.js';
    s.id = '{{ .Site.Params.termlyid }}';
    s.setAttribute("data-name", "termly-embed-banner");
    var x = document.getElementsByTagName('script')[0];
    x.parentNode.insertBefore(s, x);
  })();

</script>

<script
  type='text/javascript'>(function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; fnames[1] = 'FNAME'; ftypes[1] = 'text'; fnames[2] = 'LNAME'; ftypes[2] = 'text'; fnames[3] = 'ADDRESS'; ftypes[3] = 'address'; fnames[4] = 'PHONE'; ftypes[4] = 'phone'; fnames[5] = 'BIRTHDAY'; ftypes[5] = 'birthday'; }(jQuery)); var $mcj = jQuery.noConflict(true);</script>